@media screen and (min-width: 900px) {
  .outer_div {
    display: flex;
    background-color: black;
    padding: 20px 0;
  }
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 20px 2vw;
  }
  .logo {
    display: flex;
    flex-direction: column;
    height: 140px;
  }
  .p1 {
    color: rgb(241, 241, 220);
    font-size: 18px;
    font-weight: 600;
  }
  .div2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px 2vw;
  }
  .div3 {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px 2vw;
  }
  .div4 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 2vw;
  }
  .p21 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 20px 0;
  }
  .p22 {
    color: rgb(203, 203, 203);
    font-size: 13.5px;
    margin: 2px 0;
    cursor: pointer;
  }
  .p33 {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .p34 {
    color: white;
    font-size: 13px;
    cursor: pointer;
    padding: 2px 0;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .icon {
    color: rgb(203, 203, 203);
    margin: 0 5px;
    font-size: 17px;
  }
  .terms,
  .cancel {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 90vh;
    width: 80vw;
    background-color: rgb(54, 54, 54);
    top: 2.5vw;
    left: 10vw;
    border-radius: 20px;
    border: 1px solid white;
    /* box-shadow: 0px 0px 10px 0px; */
  }

  .inner_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .p41 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
  }
  .terms1 {
    display: none;
  }
  .cancel1 {
    display: none;
  }
  .termslist {
    overflow-y: scroll;
    height: 65vh;
    padding: 10px;
    padding-right: 20px;
    /* border: 1px solid white; */
    border-radius: 5px;
    box-shadow: rgb(130, 129, 129) 0px 0px 3px 0px;
  }
  .termslist li {
    color: white;
    margin-left: 20px;
    padding: 5px 0;
  }
  .termslist p {
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  .p41 {
    color: white;
  }
  .agree_div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .agree_button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(71, 167, 71);
    color: white;
    cursor: pointer;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    padding: 20px 0;
  }
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 2vw;
  }
  .logo {
    display: flex;
    flex-direction: column;
    height: 120px;
  }
  .p1 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
  }
  .div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px 2vw;
    padding-left: 16vw;
  }
  .div3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px 2vw;
    padding-left: 16vw;
  }
  .div4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 2vw;
    padding-left: 16vw;
    align-self: center;
  }
  .p21 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 20px 0;
  }
  .p22 {
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 1.5px 0;
    cursor: pointer;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .icon {
    color: rgb(203, 203, 203);
    margin: 0 5px;
    font-size: 17px;
  }
  .terms,
  .cancel {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 95vh;
    width: 90vw;
    background-color: rgb(54, 54, 54);
    top: 2.5vw;
    left: 5vw;
    border-radius: 20px;
    border: 1px solid white;
    /* box-shadow: 0px 0px 10px 0px; */
  }

  .inner_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .p41 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
  }
  .terms1 {
    display: none;
  }
  .cancel1 {
    display: none;
  }
  .termslist {
    overflow-y: scroll;
    height: 65vh;
    padding: 10px;
    padding-right: 20px;
    /* border: 1px solid white; */
    border-radius: 5px;
    box-shadow: rgb(130, 129, 129) 0px 0px 3px 0px;
  }
  .termslist li {
    color: white;
    margin-left: 20px;
    padding: 5px 0;
  }
  .termslist p {
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  .p41 {
    color: white;
  }
  .agree_div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .agree_button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(71, 167, 71);
    color: white;
    cursor: pointer;
  }
  .p33 {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .p34 {
    color: white;
    font-size: 13px;
    cursor: pointer;
    padding: 2px 0;
  }
}
@media screen and (max-width: 520px) {
  .outer_div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: black;
    padding: 20px 0;
    /* padding-left: 10vw; */
  }
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 2vw;
    /* padding-left: 16vw; */
  }
  .logo {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 250px;
    /* background-color: #fff; */
  }
  .p1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    /* padding-right: 5vw; */
  }
  .div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px 2vw; */
    /* padding-left: 16vw; */
    /* background-color: white; */
  }
  .div3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 2vw;
    /* padding-left: 16vw; */
  }
  .div4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 2vw;
    /* padding-left: 16vw; */
    align-items: center;
  }
  .p21 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 20px 0;
  }
  .p22 {
    color: rgb(255, 255, 255);
    font-size: 13.5px;
    margin: 2px 0;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .icon {
    color: rgb(203, 203, 203);
    margin: 0 5px;
    font-size: 20px;
  }
  .terms,
  .cancel {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 80vh;
    width: 97vw;
    background-color: rgb(54, 54, 54);
    top: 10vw;
    left: 1vw;
    border-radius: 20px;
    border: 1px solid rgb(188, 188, 188);
    box-shadow: 0px 0px 1000px 1500px;
    /* box-shadow: 0px 0px 10px 0px; */
  }

  .inner_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .p41 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
  }
  .terms1 {
    display: none;
  }
  .cancel1 {
    display: none;
  }
  .termslist {
    overflow-y: scroll;
    width: 100%;
    height: 60vh;
    padding: 10px;
    padding-right: 10px;
    /* border: 1px solid white; */
    border-radius: 5px;
    box-shadow: rgb(130, 129, 129) 0px 0px 3px 0px;
  }
  .termslist li {
    color: white;
    margin-left: 20px;
    padding: 5px 0;
  }
  .termslist p {
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  .p41 {
    color: white;
  }
  .agree_div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .agree_button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(71, 167, 71);
    color: white;
    cursor: pointer;
  }
  .p33 {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .p34 {
    color: white;
    font-size: 13px;
    cursor: pointer;
    padding: 2px 0;
  }
}
